.app {
    margin: 0px;
    display: inline;
    grid-template-columns: 100% 1fr;
    grid-template-rows: var(100px) 1fr var(40px);
    grid-template-areas:
    "menu"
    "home"
    "footer";
    height: 1200px;
    background-color: rgb(255, 255, 255);   
    }
    aside.menu {
        grid-area: menu;

    }
    
    aside.home {
        grid-area: home;
    }

    footer.footer {
        grid-area: footer;
    }
    

