.book-list {
    max-width: 700px;
    margin: 20px auto 0;
    padding: 0  20px;
}

.book-list article {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px
}

.book-list article p {
    font-size: 16px;
    color: #999;
    margin-top: 5px;
    line-height: 25px;
}

.book-list article a {
    height: 42px;
    border-radius: 5px;
    border: 2px solid #da552f;
    background: none;
    margin-top: 10px;
    color: #da552f;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
}

.book-list article a:hover {
    background: #da552f;
    color: #fff;
}