.menu {
    background-color:rgb(219, 0, 0);
    display: inline-block;
    margin-left: 30%;
    border-radius: 11px;
    margin-top: 10px;
}

.menu-area {
    padding: 15px;
}

.textmy {
    margin-inline-start: 25px;
    color: #FFF;
}