html,
body {
  font-family: sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
  padding: 10px;
}

.footer {
  margin-left: 31%;
  border-radius: 16px;
  width: 35%;
  height: 50px;
  flex-shrink: 0;
  text-align: center;
  background-color: tomato;
  color: white;
}

.footer p {
  padding-top: 15px;
}
